*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin:0;
    padding:0;
}
nav{
    margin-top:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70px;
}

div ul li {
    display:inline-block;
    margin:10px;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.grid-hover,.lab-hover{
    margin:10px;
    width:50px;
    height:50px;
    border-radius: 50%;
   
}
.grid-hover:hover,.lab-hover:hover,.profile:hover{
    background-color: rgba(227, 211, 211,0.4);
}
.profile{
    margin:10px;
    width:55px;
    height:55px;
    border-radius: 50%;
}
/*middle part with logo and search bar*/
.logo{
    text-align: center;
    padding:80px 0;
}
.input-search{
    margin-top:40px;
}
input{
    width:400px;
    padding:15px 50px;
    border-radius:25px;
    border:1px solid #ccc;
    background: url(img/mic.png) no-repeat;
    background: url(img/7503218_search_find_view_icon.png) no-repeat,
    url(img/mic.png) no-repeat;
    background-size: 15px,13px;
    background-position: left 20px center,right 20px center;
}
input:focus{
    outline:none;
    box-shadow: 2px 5px 3px #ccc;
}
.btn{
    padding:10px 20px;
    border:none;
    border-radius: 4px;
    color:#f56366;
}
.btn-container{
    padding-top:40px;
    margin-bottom:30px;
}
span{
    font-weight: 600;
}
@media all and (max-width:1163px){
    nav{
        display:none;
    }
    .blank{
        display:none;
    }
}